/include/ "system-conf.dtsi"
/ {
};

&iic_main {
	#address-cells = <1>;
	#size-cells = <0>;
	i2c-mux@75 {
		compatible = "nxp,pca9544";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x75>;
		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
			eeprom@54 {
				compatible = "atmel,24c08";
				reg = <0x54>;
			};
		};
	};
};

