RemoteSystemsTempFiles/
Vivado/.Xil/
*.log
*.jou
Vivado/*_pcie/
Vivado/*_dual/
Vivado/*_hpc*/
Vitis/*_ssd_*/
Vitis/*_wrapper/
Vitis/.*/
Vitis/.*
Vitis/boot/
Vitis/embeddedsw/
PetaLinux/*_pcie/
PetaLinux/*_dual/
PetaLinux/zcu106*/
