/include/ "system-conf.dtsi"
/ {
};

&iic_main {
	#address-cells = <1>;
	#size-cells = <0>;
	i2c-mux@74 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x74>;
		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			si570: clock-generator@5d {
				#clock-cells = <0>;
				compatible = "silabs,si570";
				temperature-stability = <50>;
				reg = <0x5d>;
				factory-fout = <156250000>;
				clock-frequency = <148500000>;
			};
		};
		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
			eeprom@54 {
				compatible = "atmel,24c08";
				reg = <0x54>;
			};
		};
	};
};

&axi_ethernetlite {
	phy-handle = <&phy0>;
	axi_ethernetlite_mdio: mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy0: phy@7 {
			device_type = "ethernet-phy";
			reg = <7>;
		};
	};
};

