#include "include/dt-bindings/input/input.h"
#include "include/dt-bindings/gpio/gpio.h"
#include "include/dt-bindings/pinctrl/pinctrl-zynqmp.h"
#include "include/dt-bindings/phy/phy.h"
#include "include/dt-bindings/interrupt-controller/irq.h"

/* From include/dt-bindings/clk/versaclock.h */
#define VC5_LVPECL   0
#define VC5_CMOS  1
#define VC5_HCSL33   2
#define VC5_LVDS  3
#define VC5_CMOS2 4
#define VC5_CMOSD 5
#define VC5_HCSL25   6

/ {
   model = "ZynqMP Ultrazed EV";
   xlnk {
      compatible = "xlnx,xlnk-1.0";
   };

   chosen {
      xlnx,eeprom= &mac_eeprom;
   };

   clock_5p49v5935_ref25: ref25m { /* 25MHz reference crystal (internal) - U3 */
      compatible = "fixed-clock";
      #clock-cells = <0>;
      clock-frequency = <25000000>;
   };

   gtr_clk0: gtr_clk0 { /* gtr_refclk0_pcie - 100MHz - U3 */
      compatible = "fixed-clock";
      #clock-cells = <0>;
      clock-frequency = <100000000>;
   };

   gtr_clk1: gtr_clk1 { /* gtr_refclk1_sata - 125MHz - U3 */
      compatible = "fixed-clock";
      #clock-cells = <0>;
      clock-frequency = <125000000>;
   };

   gtr_clk2: gtr_clk2 { /* gtr_refclk2_usb - 52MHz - U3 */
      compatible = "fixed-clock";
      #clock-cells = <0>;
      clock-frequency = <52000000>;
   };

   gtr_clk3: gtr_clk3 { /* gtr_refclk3_dp - 27MHz - U3 */
      compatible = "fixed-clock";
      #clock-cells = <0>;
      clock-frequency = <27000000>;
   };

};

&gem3 {
   status = "okay";
   phy-mode = "rgmii-id";
   phy-handle = <&phy0>;
   phy0: phy@0 {
      reg = <0x0>;
      ti,rx-internal-delay = <0x5>;
      ti,tx-internal-delay = <0x5>;
      ti,fifo-depth = <0x1>;
   };
};

&i2c1 {
   i2cswitch@70 { /* U7 on UZ3EG SOM, U8 on UZ7EV SOM */
      compatible = "nxp,pca9543";
      #address-cells = <1>;
      #size-cells = <0>;
      reg = <0x70>;
      i2c@0 { /* i2c mw 70 0 1 */
         #address-cells = <1>;
         #size-cells = <0>;
         reg = <0>;
         /* Ethernet MAC ID EEPROM */
         mac_eeprom: mac_eeprom@51 { /* U5 on UZ3EG IOCC & PCIEC and U7 on the UZ7EV EVCC */
            compatible = "atmel,24c02";
            reg = <0x51>;
         };

         vc5: clock-generator@6a { /* IDT (Renesas) 5P49V5935 I2C clock generator */
            compatible = "idt,5p49v5935";
            reg = <0x6a>;
            #clock-cells = <1>;

            /* Connect XIN input to 25MHz reference */
            clocks = <&clock_5p49v5935_ref25>;
            clock-names = "xin";

            OUT3 { /* USB3 */
               idt,drive-mode = <VC5_CMOSD>; /* */
               idt,voltage-microvolts = <1800000>;
               idt,slew-percent = <80>;
            };
         };

         
         clock_eeprom@52 { /* U5 on the UZ7EV EVCC */
            compatible = "atmel,24c02";
            reg = <0x52>;
         };
      };

      i2c@1 {
         #address-cells = <0x1>;
         #size-cells = <0x0>;
         reg = <0x1>;

         irps5401@46 { /* IRPS5401 - U24 on UZ7EV SOM*/
            compatible = "infineon,irps5401";
            reg = <0x46>;
         };

         irps5401@47 { /* IRPS5401 - U25 on UZ7EV SOM*/
            compatible = "infineon,irps5401";
            reg = <0x47>;
         };

         ir38063@48 { /* IR38063 - U26 on UZ7EV SOM*/
            compatible = "infineon,ir38063";
            reg = <0x48>;
         };

         irps5401@49 { /* IRPS5401 - U21 on UZ7EV EVCC*/
            compatible = "infineon,irps5401";
            reg = <0x49>;
         };
         irps5401@4a { /* IRPS5401 - U22 on UZ7EV EVCC*/
            compatible = "infineon,irps5401";
            reg = <0x4a>;
         };

         ir38063@4b { /* IR38063 - U18 on UZ7EV EVCC*/
            compatible = "infineon,ir38063";
            reg = <0x4b>;
         };

         ir38063@4c { /* IR38063 - U19 on UZ7EV EVCC*/
            compatible = "infineon,ir38063";
            reg = <0x4c>;
         };
      };
   };
};

&qspi {
   #address-cells = <1>;
   #size-cells = <0>;
   status = "okay";
   is-dual = <1>; /* Set for dual-parallel QSPI config */
   num-cs = <2>;
   xlnx,fb-clk = <0x1>;
   flash0: flash@0 {
      /* The Flash described below doesn't match our board ("micron,n25qu256a"), but is needed */
      /* so the Flash MTD partitions are correctly identified in /proc/mtd */
      compatible = "micron,m25p80","jedec,spi-nor"; /* 32MB */
      #address-cells = <1>;
      #size-cells = <1>;
      reg = <0x0>;
      spi-tx-bus-width = <1>;
      spi-rx-bus-width = <4>; /* FIXME also DUAL configuration possible */
      spi-max-frequency = <108000000>; /* Set to 108000000 Based on DC1 spec */
   };
};

/* SD0 eMMC, 8-bit wide data bus */
&sdhci0 {
   status = "okay";
   bus-width = <8>;
   max-frequency = <50000000>;
};

/* SD1 with level shifter */
&sdhci1 {
   status = "okay";
   max-frequency = <50000000>;
   no-1-8-v;   /* for 1.0 silicon */
};

/* Vitis interrupt connected at PS interrupt offset [5] (89+5=94) */
/* This description may be missing/incorrect in the pl.dtsi, so we add/fix it here */
&axi_intc_0 {
   interrupts = <0 94 1>; 
};

&amba_pl {
   zyxclmm_drm {
      compatible = "xlnx,zocl";
      status = "okay";
      interrupt-parent = <&axi_intc_0>;
      interrupts = <0  4>, <1  4>, <2  4>, <3  4>,
         <4  4>, <5  4>, <6  4>, <7  4>,
         <8  4>, <9  4>, <10 4>, <11 4>,
         <12 4>, <13 4>, <14 4>, <15 4>,
         <16 4>, <17 4>, <18 4>, <19 4>,
         <20 4>, <21 4>, <22 4>, <23 4>,
         <24 4>, <25 4>, <26 4>, <27 4>,
         <28 4>, <29 4>, <30 4>, <31 4>;
   };
};

&psgtr {
   /* PCIE, SATA, USB3, DP */
   clocks = <&gtr_clk0>, <&gtr_clk1>, <&gtr_clk2>, <&gtr_clk3>;
   clock-names = "ref0", "ref1", "ref2", "ref3";
};

/* ULPI SMSC USB3320 */
&usb0 {
   status = "okay";
};

&dwc3_0 {
   status = "okay"; 
   dr_mode = "host";
   maximum-speed = "super-speed"; 
   snps,usb3_lpm_capable; 
   snps,enable_auto_retry; 
   phy-names = "usb3-phy"; 
   /* <psgtr_phandle> <lane_number> <controller_type> <instance> <refclk> */
   phys = <&psgtr 2 PHY_TYPE_USB3 0 2>;
};

&sata {
   status = "okay";
   phy-names = "sata-phy";
   /* <psgtr_phandle> <lane_number> <controller_type> <instance> <refclk> */
   phys = <&psgtr 1 PHY_TYPE_SATA 1 1>;
};

