[Unit]
Description=Delete wpa files in /var/run/wpa_supplicant
Before=network.target
Before=wpa_supplicant.service

[Service]
Type=oneshot
ExecStop=rm -f /var/run/wpa_supplicant/*
ExecStop=rm -f /etc/wpa_supplicant/wpa_supplicant-wlan0.conf
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
