[Unit]
Description=Common GPIO Utilities
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/bin/gpio/gpio_map.sh

[Install]
WantedBy=multi-user.target
