/include/ "system-conf.dtsi"
/ {
};

&amba {
        zyxclmm_drm {
                compatible = "xlnx,zocl-versal";
        };
};

/* 
The following is to remove the upper 6G of memory from device tree as suggested here:
https://support.xilinx.com/s/question/0D52E00006zxS2ESAU/configuring-one-of-the-versal-pl-pcie-blocks-to-act-as-another-root-master-for-the-processing-system?language=en_US
*/
&memoryaxi_noc_0 {
	reg = <0x0 0x00000000 0x0 0x80000000>;
};

&qdma_0 {
	#address-cells = <3>;
	#interrupt-cells = <1>;
	#size-cells = <2>;
	compatible = "xlnx,qdma-host-3.00";
	device_type = "pci";
	ranges = <0x43000000 0x00000004 0x30000000 0x00000004 0x30000000 0x00000000 0x10000000>;
};

&qdma_1 {
	#address-cells = <3>;
	#interrupt-cells = <1>;
	#size-cells = <2>;
	compatible = "xlnx,qdma-host-3.00";
	device_type = "pci";
	ranges = <0x43000000 0x00000004 0x40000000 0x00000004 0x40000000 0x00000000 0x10000000>;
};

